  <!-- slider -->

  <div class="index_slider">
    <div class="container">

      <!-- slider block -->
      <ul class="bxslider">
        <li>
          <img src='assets/index_slider/01.jpg' alt=''>
        </li>
        <li>
          <img src='assets/index_slider/02.jpg' alt=''>
        </li>
      </ul>


      <div class="banner-divider"></div>

    </div>

  </div><!-- e/o slider -->

  <!-- index main content => news and FB -->
  <div class="index_main">
    <div class="container">
      <!-- 最新消息 -->
      <div class="index_news">
        <%= link_to(news_index_path, :class => "index_news-title trans-05s") do %>
          <i class="fa fa-circle"></i> 最新消息 <span>more ></span>
        <% end %>
        <div class="index_news-inner">

          <% @news.recent_5.each do |f| %>
          <a href="<%= news_path(f) %>" class="unit curl-top-right trans-05s">

            <!-- left for feature pic -->
            <div class="left">
              <img class="img-responsive" src="<%= f.img %>" alt="">
            </div>

            <!-- right for detail info -->
            <div class="right">
              <div class="date">
                <span>◎ <%= f.date_formate %></span>
              </div>
              <div class="title">
                <h3><%= f.title %></h3>
              </div>
              <div class="summary only-desktop-up">
                <p><%= truncate(strip_tags(f.content.html_safe), :length => 150) %></p>
                <br><span class="more">more</span>
              </div>
            </div>
          </a>
          <% end %>


          <!-- <div class="index_news-more">
            MORE
          </div> -->

        </div>
      </div><!-- e/o 最新消息 -->

      <!-- facebook -->
      <div class="index_facebook">
        <h2 class="index_facebook-title">facebook</h2>
        <div class="index_main-inner">
          <div class="facebook_block"></div>
        </div>
      </div><!-- e/o facebook -->

    </div>
  </div>

  <!-- little banners -->
  <div class="index_banners">
    <div class="container">
      <div class="divider"></div>
    </div>
    <div class="container">
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/5.jpg" alt="banner1" title="banner1">
          </a>
        </div>
      </div>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/7.jpg" alt="banner2" title="banner2">
          </a>
        </div>
      </div>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/8.jpg" alt="banner3" title="banner3">
          </a>
        </div>
      </div>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/6.jpg" alt="banner4" title="banner4">
          </a>
        </div>
      </div>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="assets/index_little_banner/4.jpg" alt="banner5" title="banner5">
          </a>
        </div>
      </div>
      <div class="index_banner-unit only-mobile">
        <div class="index_banner-inner">
          <a href="#">
            <img class="img-responsive" src="http://placehold.it/300x130" alt="placeholder" title="placeholder">
          </a>
        </div>
      </div>

    </div>
  </div>
