<!-- header -->
  <div id="top" class="header">

    <div class="menu-btn only-mobile">&#9776; Menu</div>

    <div class="header_top">
      <div class="container">
        <div class="header_top-icons">


        </div>
        <div class="header_top-subscribe">
<a target="_blank" class="trans-05s" href="https://www.facebook.com/pas36">            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
</a>

          <%= link_to( root_path, :class => "trans-05s") do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <span> </span>
          <a class="" href="#"> subscribe <span> | </span>訂閱電子報</a> | <a href="/contact.html">聯絡我們</a>
        </div>

      </div>
    </div>
    <!-- banner -->
    <div class="container">

      <div class="header_banner">
        <!-- facebook and back2home link icon -->
        <!-- <div class="header_banner-icons hidden-mobile">

        </div> -->
        <div class="header_banner-logo">
          <div class="logo-wrapper">
<a href="/">
              <img class="img-responsive only-mobile" src="/assets/asset/header_logo2.png" />
              <img class="img-responsive only-pad" src="/assets/asset/header_logo5.png" />
              <img class="img-responsive only-desktop" src="/assets/asset/header_logo4.png" />
              <img class="img-responsive only-large" src="/assets/asset/header_logo3.png" />

</a>
          </div>
        </div>
        <!-- <div class="header_banner-subscribe hidden-mobile">

        </div> -->
      </div>
    </div><!-- e/o banner -->

    <!-- navi bar -->
    <div class="container hidden-mobile">
      <nav>
        <ul>
          <!-- navi contents -->
          <li><%= link_to('關於我們', about_path)%></li>
          <li><%= link_to('場地租借', spaces_path)%></li>
          <li><%= link_to '課程活動', courses_path %></li>
          <li><%= link_to '參訪體驗', about_path+'#tour' %></li>
          <li><%= link_to '活動花絮', activities_path %></li>
          <li><%= link_to '參訪體驗', about_path+'#hire' %></li>
          <li><a class="" href="/jyclass.html">景優專班</a></li>
          <li><%= link_to '下載專區', downloads_path %></li>
        </ul>
      </nav>
    </div><!-- e/o navi bar -->

  </div>

  <!-- mobile menu -->
  <nav class="pushy pushy-left">
    <ul>
      <li><a href="/">回到首頁 <i class="fa fa-home"></i></a></li>
      <li><a class="" href="/about.html">關於我們</a></li>
      <li><a class="" href="/spaces.html">場地租借</a></li>
      <li><a class="" href="/courses.html">課程活動</a></li>
      <li><a class="" href="/about.html#tour">參訪體驗</a></li>
      <li><a class="" href="/activities.html">活動花絮</a></li>
      <li><a class="" href="/about.html#hire">志工招募</a></li>
      <li><a class="" href="/jyclass.html">景優專班</a></li>
      <li><a class="" href="/download.html">下載專區</a></li>
    </ul>
  </nav>
  <!-- Site Overlay -->
  <div class="site-overlay"></div>

  <a href="#top" class="globle-back2top wobble-vertical"></a>
